aws_region    = "sa-east-1"
project_name  = "devops-na-pratica"
environment   = "dev"
instance_type = "t2.micro"
ami_id        = "ami-0fb4cf3a99aa89f72"
key_name      = "minha-chave"
repo_url      = "https://github.com/usuario/devops-na-pratica.git"
